<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChoiDujour">

        <!-- Samsung Color Theme -->
        <meta-data
            android:name="theming-meta"
            android:value="sep_color_theme_meta" />
        <meta-data
            android:name="theming-meta-xml"
            android:value="@xml/sep_color_theme_meta" />


        <activity
            android:name=".ui.activity.UpdatesActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- Samsung Icon Color Theme -->
            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:priority="1">
                <action android:name="android.settings.SYSTEM_UPDATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>